<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include ./../templates/header.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/profile/edit.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>
<% include ./../templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 well">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Editar Perfil de <i><%= username %></i></h2>
                </div>
            </div>

            <form role="form" action="/profile/edit/<%= username %>" method="post">
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" name="username" class="form-control" maxlength="32" id="username" value="<%= username %>"
                           disabled>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" name="password" class="form-control" maxlength="20" id="password"
                                   value="<%= password %>">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="passwordre">Confirmar Password</label>
                            <input type="password" name="passwordre" class="form-control" maxlength="20" id="passwordre"
                                   value="<%= password %>">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Nome</label>
                    <input type="text" name="name" class="form-control" maxlength="40" id="name" value="<%= name %>">
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label" for="phone">Contacto</label>
                            <input type="text" name="phone" class="form-control" id="phone" value="<%= phone %>">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="gender">Género</label>
                            <select class="form-control" id="gender" name="gender">
                                <% for(var index = 0; index < genderList.length; index++) { %>
                                <% if(genderList[index] == gender) { %>
                                <option selected><%= genderList[index] %></option>
                                <% }else{ %>
                                <option><%= genderList[index] %></option>
                                <% }} %>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email" value="<%= email %>">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="emailre">Confirmar Email</label>
                            <input type="email" name="emailre" class="form-control" id="emailre" value="<%= email %>">
                        </div>
                    </div>
                </div>

                <div class="col-sm-offset-1 col-sm-9">
                    <div class="form-group text-center" id="buttons-panel">
                        <button type="button" class="btn btn-default"
                                onclick="location.href = '/profile/<%= username %>'">Voltar
                        </button>
                        <button type="submit" class="btn btn-success">Editar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
