<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include ./../templates/header.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/profile/view.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>
<% include ./../templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-8">
            <h1>Perfil de Utilizador</h1>

            <div class="well">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username"
                                   value="<%= username %>"
                                   disabled>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="pull-right edit">
                                <% if(isOwnProfile) { %>
                                <a href="/profile/edit/<%= username %>"
                                   class="label label-primary label-as-badge editbadge">Editar</a>
                                <% }else{ %>
                                <a href="#" class="label label-primary label-as-badge editbadge">Enviar Mensagem</a>
                                <% } %>
                            </div>

                            <% if(isOwnProfile) { %>
                            <label class="control-label" for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password"
                                   value="<%= password %>"
                                   disabled>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label" for="name">Nome</label>
                            <input type="text" name="name" class="form-control" id="name"
                                    <% if(name != "") { %>
                                   value="<%= name %>"
                                    <% }else{ %>
                                   placeholder="Não definido"
                                    <% } %>
                                   disabled>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="gender">Sexo</label>
                            <input type="text" name="gender" class="form-control" id="gender"
                                    <% if(gender != "") { %>
                                   value="<%= gender %>"
                                    <% }else{ %>
                                   placeholder="Não definido"
                                    <% } %>
                                   disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group well-bottom">
                            <label class="control-label" for="email">Email</label>
                            <input type="text" name="email" class="form-control" id="email"
                                   value="<%= email %>"
                                   disabled>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group well-bottom">
                            <label class="control-label" for="phone">Contacto</label>
                            <input type="text" name="phone" class="form-control" id="phone"
                                    <% if(phone != "") { %>
                                   value="<%= phone %>"
                                    <% }else{ %>
                                   placeholder="Não definido"
                                    <% } %>
                                   disabled>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group well-bottom">
                            <a class="btn btn-default btn-block" href="/" style="width: 100%; margin-top: 25px;">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>

            <h1>Histórico</h1>
            <% for(var index = 0; index < offerArr.length; index++) { %>
            <div class="well">
                <div class="offer-head">
                    <span>Criado por: <a href="/profile/<%= offerArr[index].username %>"><%= offerArr[index].username %></a></span><br>
                    <span>Criado em: <a href="/community/<%= offerArr[index].communityName %>"><%= offerArr[index].communityName %></a></span>
                </div>

                <div class="row offer-content">
                    <div class="col-sm-4">
                        <img class="img-responsive visible-md visible-lg" src="<% if(offerArr[index].imageDir != null && offerArr[index].imageDir != ''){ %>/images/offers/<%= offerArr[index].imageDir %><% }else{ %>http://placehold.it/420x320<% } %>"/>
                    </div>

                    <div class="col-sm-8">
                        <p class="lead">
                            <a href="/view_offer/<%= offerArr[index]._id %>"><%= offerArr[index].title %></a>
                        </p>
                        <%= offerArr[index].description %>
                    </div>
                </div>

                <div class="row offer-footer">
                    <a class="btn btn-default pull-right" href="/view_offer/<%= offerArr[index]._id %>">Ver detalhes</a>
                    <h6 class="pull-right" style="margin-right: 20px;">Preço: <%= offerArr[index].price %><span class="glyphicon glyphicon-gift" style="margin-left: 5px;"></span></h6>
                </div>
            </div>
            <% } %>
        </div>

        <div class="col-sm-3">
            <h1>Comunidades</h1>

            <div class="well">
                <ul class="list-group well-bottom">
                    <% if(communityArr.length == 0) { %>
                    <li class="list-group-item text-center">
                        <span>Nenhuma Comunidade</span>
                    </li>
                    <% } else { %>
                    <% for(var index = 0; index < communityArr.length; index++) { %>
                    <li class="list-group-item text-center">
                        <a href="/community/<%= communityArr[index].name %>"><%= communityArr[index].name %></a>
                    </li>
                    <% }} %>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>