<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include ./../templates/header.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/profile/view.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>
<% include ./../templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-8">
            <h1>Perfil de Utilizador</h1>

            <div class="well">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username"
                                   value="<%= username %>"
                                   disabled>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="pull-right edit">
                                <% if(isOwnProfile) { %>
                                <a href="/profile/edit/<%= username %>"
                                   class="label label-primary label-as-badge editbadge">Editar</a>
                                <% }else{ %>
                                <a data-toggle="modal" data-target="#message_modal" class="label label-primary label-as-badge editbadge">Enviar Mensagem</a>
                                <% } %>
                            </div>

                            <% if(isOwnProfile) { %>
                            <label class="control-label" for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password"
                                   value="<%= password %>"
                                   disabled>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label" for="name">Nome</label>
                            <input type="text" name="name" class="form-control" id="name"
                                    <% if(name != "") { %>
                                   value="<%= name %>"
                                    <% }else{ %>
                                   placeholder="Não definido"
                                    <% } %>
                                   disabled>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="gender">Sexo</label>
                            <input type="text" name="gender" class="form-control" id="gender"
                                    <% if(gender != "") { %>
                                   value="<%= gender %>"
                                    <% }else{ %>
                                   placeholder="Não definido"
                                    <% } %>
                                   disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group well-bottom">
                            <label class="control-label" for="email">Email</label>
                            <input type="text" name="email" class="form-control" id="email"
                                   value="<%= email %>"
                                   disabled>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group well-bottom">
                            <label class="control-label" for="phone">Contacto</label>
                            <input type="text" name="phone" class="form-control" id="phone"
                                    <% if(phone != "") { %>
                                   value="<%= phone %>"
                                    <% }else{ %>
                                   placeholder="Não definido"
                                    <% } %>
                                   disabled>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group well-bottom">
                            <a class="btn btn-default btn-block" href="/" style="width: 100%; margin-top: 25px;">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>

            <h1>Histórico de Contribuições</h1>
            <% if(offerArr.length == 0) { %>
            <h5> <b style="margin-right: 15px;"> O teu histórico de contribuições encontra-se vazio. </b></h5>
            <% } else if(!isOwnProfile) { %>
            <h5> <b style="margin-right: 15px;"> Não tens permissões para visualizar este conteúdo. </b></h5>
            <% } else {
             for(var index = 0; index < offerArr.length; index++) { %>
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group pull-right">
                            <a style="pointer-events: none; cursor: default;" href="" class="btn btn-primary btn-xs">Opções</a>
                            <a href="#" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/delete_offer/<%= offerArr[index]._id %>">Eliminar</a></li>
                            </ul>
                        </div>
                        <a style="pointer-events: none; cursor: default;" href="" class="lead"><%= offerArr[index].title %></a>
                        <p>Criado por <a href="/profile/<%= offerArr[index].username %>"><%= offerArr[index].username %></a></p>
                    </div>
                </div>

                <div class="row" style="border-top: 1px solid #d6d6d6; padding-top: 15px;">
                    <div class="col-sm-4 text-center" style="border-right: 1px solid #d6d6d6;">
                        <img class="img-responsive img-thumbnail" src="<% if(offerArr[index].imageDir != null && offerArr[index].imageDir != ''){ %>/images/offers/<%= offerArr[index].imageDir %><% }else{ %>http://placehold.it/420x320<% } %>"/>
                        <p style="margin-top: 5px;"><%= ("0" + (new Date(offerArr[index].date)).getDate()).slice(-2) + "/" + ("0" + ((new Date(offerArr[index].date)).getMonth() + 1)).slice(-2) + "/" + (new Date(offerArr[index].date)).getFullYear() + " - " + ("0" + (new Date(offerArr[index].date)).getHours()).slice(-2) + ":" + ("0" + (new Date(offerArr[index].date)).getMinutes()).slice(-2) %></p>
                    </div>
                    <div class="col-sm-8">
                        <p><%= offerArr[index].description %></p>
                    </div>
                </div>
            </div>
            <% }} %>
        </div>

        <div class="col-sm-3">
            <h1>Comunidades</h1>

            <div class="well">
                <ul class="list-group well-bottom">
                    <% if(communityArr.length == 0) { %>
                    <li class="list-group-item text-center">
                        <span>Nenhuma Comunidade</span>
                    </li>
                    <% } else { %>
                    <% for(var index = 0; index < communityArr.length; index++) { %>
                    <li class="list-group-item text-center">
                        <a href="/community/<%= communityArr[index].name %>"><%= communityArr[index].name %></a>
                    </li>
                    <% }} %>
                </ul>
            </div>
        </div>
    </div>

    <div id="message_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="New_Message_Form" class="form-horizontal" role="form" action="/message/new" method="post">
                    <div class="modal-header">
                        <h4><span style="margin-right: 15px;" class="glyphicon glyphicon-envelope"></span>Escrever Nova Mensagem</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="reply_recipient">Para</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="reply_recipient" value="<%= username %>" disabled="true">
                                <input  name="receiver" type="text" value="<%= username %>" hidden>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_subject">Assunto</label>
                            <div class="col-sm-10">
                                <input name="subject" type="text" class="form-control" id="compose_subject" placeholder="Assunto da Mensagem">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_type">Tipo</label>
                            <div class="col-sm-10">
                                <select id="compose_type" class="form-control" disabled="true">
                                    <option value="Conversation" selected>Conversa</option>
                                    <option value="Offer">Oferta</option>
                                </select>
                                <input name="type" value="conversation" hidden>
                            </div>
                        </div>

                        <!-- TextArea Input. If you're reading this, go HERE: http://mindmup.github.io/bootstrap-wysiwyg/ -->
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_subject">Mensagem</label>
                            <div class="col-sm-10">
                                <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                                    <div class="btn-group" id="editor-buttons">
                                        <a class="btn" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><strong>B</strong></a>
                                        <a class="btn" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><em>I</em></a>
                                        <a class="btn" data-edit="strikethrough" title="" data-original-title="Strikethrough"><s>S</s></a>
                                        <a class="btn" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><u>U</u></a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">Desfazer</a>
                                        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">Refazer</a>
                                    </div>
                                </div>
                                <div class="">
                                    <div id="editor" contenteditable="true"></div>
                                </div>
                                <input id="content_input" name="content" value="" hidden>
                            </div>
                        </div>
                    </div>

                    <div id="modal-buttons" class="text-center" style="margin-bottom: 20px;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" onclick="sendMessage()">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Text-area editor with buttons -->
<script type="text/javascript" src="https://rawgithub.com/mindmup/bootstrap-wysiwyg/master/bootstrap-wysiwyg.js"></script>
<script src="https://rawgithub.com/mindmup/bootstrap-wysiwyg/master/external/jquery.hotkeys.js"></script>

<script>
    $(document).ready(function(){
        //Textarea Initializer
        $('#editor').wysiwyg();
        $('#launch').click();
    });
    function sendMessage(){
        $('#content_input').attr('value', $('#editor').html());
        $('#New_Message_Form').submit();
    }
</script>
</body>
</html>