<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include ../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/messaging/message.css">


</head>
<body>
<% include ../templates/navbar.ejs %>

<div class="container"id="main_body">

    <!-- -->
    <div class="container" id="header">
        <img class="img-responsive hidden-xs" src="<%= sender_image %>" alt="<%= sender %>">
        <h2>
            Personal Message
            <span class="glyphicon glyphicon glyphicon-<%= message_type %>"data-toggle="tooltip" data-placement="right" title="<%= tooltip %>"></span>
        </h2>
        <%if(messageReceiver) {%>
        <p>Sender: <strong><a href="/profile/<%= sender %>" id=""><%= sender %></a></strong></p>
        <%} else {%>
        <p>Receiver: <strong><a href="/profile/<%= receiver %>" id=""><%= receiver %></a></strong></p>
        <%}%>
        <p>Subject: <strong><%= message_subject %></strong></p>
    </div>

    <!-- -->
    <div class="messageContent">
        <article><%- message_content %></article>
        <br>
        <div class="" id="messageMeta">
            <small><i>on 12:00, 13/11/20</i></small>
        </div>
    </div>

    <%if(messageReceiver) {%>
    <div class="container" id="interactive_pane">
        <div class="btn-group pull-right" role="group" aria-label="Basic example">
            <%if(!deleted){%>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#delete_modal">Delete</button>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#reply_modal" >Reply</button>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#redirect_modal" >Redirect</button>
            <%}%>
        </div>
    </div>
    <% } %>
</div>

<!-- -->
<div id="delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-trash"></span> Are you sure you wish to delete this message?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No <span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-success" onclick="trashCanButton(this)" delete_id="<%= message_id %>" >Yes <span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </div>
</div>

<!-- -->
<div id="reply_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form id="reply_form" action="/message/new" method="post" class="form-horizontal" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-envelope"></span> Send a New Message</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="reply_recipient">To:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="reply_recipient" value="<%= sender %>" disabled="true">
                            <input  name="receiver" type="text" value="<%= sender %>" hidden>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="reply_subject">Subject:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="reply_subject" value="<%= message_subject %>" disabled="true">
                            <input  name="subject" type="text" value="Re: <%= message_subject %>" hidden>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="reply_type">Type:</label>
                        <div class="col-sm-10">
                            <select id="reply_type" class="form-control" disabled="true">
                                <% if(message_type=="user") { %>
                                <option value="Conversation" selected>Conversation</option>
                                <% } else if (message_type=="leaf"){ %>
                                <option value="Offer" selected>Offer</option>
                                <% } else { %>
                                <option value="System Notification" selected>Offer</option>
                                <% } %>
                            </select>
                            <% if(message_type=="user") { %>
                            <input name="type" value="conversation" hidden>
                            <% } else if (message_type=="leaf"){ %>
                            <input name="type" value="offer" hidden>
                            <% } else { %>
                            <input name="type" value="other" hidden>
                            <% } %>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="compose_subject">Message:</label>
                        <div class="col-sm-10">
                            <div class="btn-toolbar" id="toolbar_reply" data-role="editor-toolbar" data-target="#editor">
                                <div class="btn-group" id="editor-buttons_reply">
                                    <a class="btn" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><strong>B</strong></a>
                                    <a class="btn" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><em>I</em></a>
                                    <a class="btn" data-edit="strikethrough" title="" data-original-title="Strikethrough"><s>S</s></a>
                                    <a class="btn" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><u>U</u></a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">Undo</a>
                                    <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">Redo</a>
                                </div>
                            </div>
                            <div class="">
                                <div id="editor" contenteditable="true"></div>
                            </div>
                            <input id="reply_content_input" name="content" value="" hidden>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default" onclick="sendReply()">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- -->
<div id="redirect_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="redirect_form" action="/message/new" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-envelope"></span> Redirect Message</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="redirect_recipient">To:</label>
                            <div class="col-sm-10">
                                <input name="receiver" type="text" class="form-control" id="redirect_recipient" placeholder="The username field needs a typeahead implementation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="redirect_subject">Subject:</label>
                            <div class="col-sm-10">
                                <input name="subject"  type="text" class="form-control" id="redirect_subject" placeholder="Enter Subject">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="redirect_type">Type:</label>
                            <div class="col-sm-10">
                                <select class="form-control" disabled="true">
                                    <option value="Conversation" selected>Conversation</option>
                                    <input name="type" value="conversation" hidden>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-2" for="redirect_subject">Message:</label>
                            <div class="col-sm-10">
                                <div class="btn-toolbar" id="toolbar_reply" data-role="editor-toolbar" data-target="#editor_redirect">
                                    <div class="btn-group" id="editor-buttons">
                                        <a class="btn" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><strong>B</strong></a>
                                        <a class="btn" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><em>I</em></a>
                                        <a class="btn" data-edit="strikethrough" title="" data-original-title="Strikethrough"><s>S</s></a>
                                        <a class="btn" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><u>U</u></a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">Undo</a>
                                        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">Redo</a>
                                    </div>
                                </div>
                                <div class="">
                                    <div id="editor_redirect" contenteditable="true">
                                        <blockquote>
                                            From: <%= sender %>
                                            <br>
                                            <%- message_content%>
                                        </blockquote><br></div>
                                </div>
                                <input id="redirect_content_input" name="content" value="" hidden>
                            </div>
                        </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default" onclick="sendRedirect()">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Text-area editor with buttons -->
<script type="text/javascript" src="https://rawgithub.com/mindmup/bootstrap-wysiwyg/master/bootstrap-wysiwyg.js"></script>
<script src="https://rawgithub.com/mindmup/bootstrap-wysiwyg/master/external/jquery.hotkeys.js"></script>

<script>
    $(document).ready(function(){
        //Tooltip function initializer
        $('[data-toggle="tooltip"]').tooltip();

        //Textarea Initializer
        $("#editor").wysiwyg();
        $("#editor_redirect").wysiwyg();
        $('#launch').click();
    });

    function sendReply(){
        $('#reply_content_input').attr('value', $('#editor').html());
        $('#reply_form').submit();
    }
    function sendRedirect(){
        $('#redirect_content_input').attr('value', $('#editor_redirect').html());
        $('#redirect_form').submit();
    }
    function trashCanButton(element){
        window.location.href = "/message/delete/"+$(element).attr('delete_id');
    }
</script>

</body>
</html>