<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include ../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/messaging/message.css">

</head>
<body>
    <% include ../templates/navbar.ejs %>

    <div class="container"id="main_body">

        <!-- -->
        <div class="container" id="header">
            <img class="img-responsive hidden-xs" src="<%= sender_image %>" alt="<%= sender %>">
            <h2>
                Personal Message
                <span class="glyphicon glyphicon glyphicon-<%= message_type %>"data-toggle="tooltip" data-placement="right" title="<%= tooltip %>"></span>
            </h2>
            <p>Sender: <strong><a href="#" id=""><%= sender %></a></strong></p>
            <p>Subject: <strong><a href="#" id=""><%= message_subject %></a></strong></p>
        </div>

        <!-- -->
        <div class="messageContent">
            <article><%- message_content %></article>
            <br>
            <div class="" id="messageMeta">
                <small><i>on 12:00, 13/11/20</i></small>
            </div>
        </div>

        <div class="container" id="interactive_pane">
            <div class="btn-group pull-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#delete_modal">Delete</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#reply_modal" >Reply</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#redirect_modal" >Redirect</button>
            </div>
        </div>
    </div>

    <!-- -->
    <div id="delete_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-trash"></span> Are you sure you wish to delete this message?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No <span class="glyphicon glyphicon-trash"></span></button>
                    <button type="button" class="btn btn-success" onclick="trashCanButton(this)" delete_id="<%= message_id %>" >Yes <span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
        </div>
    </div>

    <!-- -->
    <div id="reply_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-envelope"></span> Send a New Message</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_recipient">To:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="compose_recipient" value="<%= sender %>" disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_subject">Subject:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="compose_subject" value="<%= message_subject %>" disabled="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_type">Type:</label>
                            <div class="col-sm-10">
                                <select class="form-control" disabled="true">
                                    <% if(message_type=="user") { %>
                                    <option value="Conversation" selected>Conversation</option>
                                    <% } else if (message_type=="leaf"){ %>
                                    <option value="Offer" selected>Offer</option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_subject">Message:</label>
                            <div class="col-sm-10">
                                <div class="">
                                    <div id="editor" contenteditable="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default">Send</button>
                </div>
            </div>
        </div>
    </div>

    <!-- -->
    <div id="redirect_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-envelope"></span> Redirect Message</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_recipient">To:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="compose_recipient" placeholder="The username field needs a typeahead implementation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_subject">Subject:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="compose_subject" placeholder="Enter Subject">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_type">Type:</label>
                            <div class="col-sm-10">
                                <select class="form-control" disabled="true">
                                    <option value="Conversation" selected>Conversation</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="compose_subject">Message:</label>
                            <div class="col-sm-10">
                                <div class="">
                                    <div id="editor" contenteditable="true">
                                        <blockquote>
                                            From: <%= sender %>
                                            <br>
                                            <%- message_content%>
                                        </blockquote>
                                        <br>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default">Send</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            //Tooltip function initializer
            $('[data-toggle="tooltip"]').tooltip();
        });

        function trashCanButton(element){
            window.location.href = "/message/delete/"+$(element).attr('delete_id');
        }
    </script>

</body>
</html>