<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include ../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/messaging/message.css">


</head>
<body>
    <% include ../templates/navbar.ejs %>

    <div class="container"id="main_body">

        <!-- -->
        <div class="container" id="header">
            <img class="img-responsive hidden-xs" src="<%= sender_image %>" alt="<%= sender %>">
            <h2>Personal Message</h2>
            <p>Sender: <strong><a href="#" id=""><%= sender %></a></strong></p>
            <p>Subject: <strong><a href="#" id=""><%= message_subject %></a></strong></p>
        </div>

        <!-- -->
        <p>DATA E HORA???</p>

        <!-- -->
        <textarea><%= message_content %></textarea>

        <!-- -->
        <p>Butões de eliminar, responder e reencaminha</p>


    </div>


</body>
</html>