<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include ../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/messaging/message.css">


</head>
<body>
    <% include ../templates/navbar.ejs %>

    <div class="container"id="main_body">

        <!-- -->
        <div class="container" id="header">
            <img class="img-responsive hidden-xs" src="<%= sender_image %>" alt="<%= sender %>">
            <h2>Personal Message</h2>
            <p>Sender: <strong><a href="#" id=""><%= sender %></a></strong></p>
            <p>Subject: <strong><a href="#" id=""><%= message_subject %></a></strong></p>
        </div>

        <!-- -->
        <div class="messageContent">
            <article><%= message_content %></article>
            <br>
            <div class="" id="messageMeta">
                <small><i>on 12:00, 13/11/20</i></small>
            </div>
        </div>

        <div class="container" id="interactive_pane">
            <div class="btn-group pull-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-default">Delete</button>
                <button type="button" class="btn btn-default">Reply</button>
                <button type="button" class="btn btn-default">Redirect</button>
            </div>
        </div>
    </div>

    <!-- -->

    <p>!!!! Missing modal for the delete button</p>
    <p>!!!! Missing modal for the reply button</p>
    <p>!!!! Missing modal for the redirect button</p>

</body>
</html>