<!DOCTYPE html>
<html>
<head>
    <title>Local Exchange - <%= communityName %></title>

    <% include ./../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/community/accept_requests.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>
<% include ../templates/alert_messages.ejs %>

<div class="container">

    <div class="tab-content" id="community">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Username</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for(var index = 0; index < requests.length; index++){ %>
                <tr>
                    <td> <a><%= requests[index] %></a> </td>
                    <td>
                        <a type="button" class="glyphicon glyphicon-ok ok" style="margin-top:20px" href="/accept_requests/<%= communityName %>/<%= requests[index] %>/accept"></a>
                        <a type="button" class="glyphicon glyphicon-remove remove" style="margin-top:20px" href="/accept_requests/<%= communityName %>/<%= requests[index] %>/remove"></a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/community/<%= communityName %>/" style="margin-top:20px">Voltar</a>
    </div>

</div>