<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %></title>

    <% include ./../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/community/community_user_list.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>
<% include ../templates/alert_messages.ejs %>

<div class="container">
	<div class="row">
		<div class="col-sm-10">
			<h2>Membros da Comunidade, <%= communityName %></h2>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#users">Membros</a></li>
			</ul>
		</div>

		<div class="col-sm-2 pull-right">
			<button style="margin-top: 20px; width: 8em;" type="button" class="btn btn-default" onclick="location.href = '/community/<%= communityName %>'">Voltar</button>
		</div>
	</div>

	<div class="tab-content">
		<div class="tab-pane fade in active" id="users">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>Nome de Utilizador</th>
                    <% if(useCoin) { %>
					<th><%= coinName %></th>
                    <% } %>
                    <th>Permissões</th>
                    <% if(isModerator){ %>
                    <th>Mudar Permissões</th>
                    <th>Expulsar</th>
                    <% } %>
				</tr>
				</thead>
				<tbody>
				<% for(var index = 0; index < members.length; index++){ %>
				<tr>
					<form>
						<td><a href="/profile/<%= members[index].name %>"><%= members[index].name %></a></td>
						<% if(useCoin) { %>
						<td><%= members[index].coins %></td>
						<% } %>
						<td><% if(founder == members[index].name) { %>Fundador<% } else if (admins.indexOf(members[index].name) != -1) { %>Moderador<% } else { %>Membro<% } %></td>
						<% if(isModerator){ %>
                        <% if(founder == members[index].name) { %>
                        <td>Não Pode Mudar Permissões</td>
                        <td>Não Pode Ser Expulso</td>
                        <% } else { %>
						<td>
                            <input type="radio" name="permissions" value="admin" <% if (admins.indexOf(members[index].name) != -1) { %>checked<% } %>> Moderador</input>
                            <input style="margin-left: 20px;" type="radio" name="permissions" value="member" <% if (!admins.indexOf(members[index].name) != -1) { %>checked<% } %>> Membro</input>
                            <button style="margin-right: 5px;" type="button" class="btn btn-success btn-xs pull-right" onclick="location.href = '#'"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                        </td>
						<td><button type="button" class="btn btn-danger btn-xs" onclick="location.href = '#'"><span class="glyphicon glyphicon-remove"></span></button></td>
						<% }} %>
					</form>
				</tr>
				<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>
