<!DOCTYPE html>
<html>
<head>
    <title>Local Exchange - <%= communityName %></title>

    <% include ./../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/community/edit_community.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>
<% include ../templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h1 id="create-title">Editar Comunidade - <%= communityName %></h1>

            <form role="form" action="/edit_community/<%= communityName %>" method="post">
                <div class="form-group">
                    <label class="control-label" for="communityName">Nome</label>
                    <input type="text" name="communityName" class="form-control" id="communityName"
                           placeholder="<%= communityName %>" disabled>
                </div>

                <div class="form-group">
                    <label class="control-label" for="headQuarter">Sede</label>
                    <input type="text" name="headQuarter" class="form-control" id="headQuarter"
                           value="<%= headQuartes %>">
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Descrição</label>
                    <textarea class="form-control" name="description" id="description"
                              rows="5"><%= description %></textarea>
                </div>

                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="control-label" for="coin">Moeda</label>
                            <div>
                                <input type="checkbox" name="useCoin" id="useCoin" disabled style="margin-right: 5px;" <% if(useCoin) { %>checked<% } %>>Usar moeda, nome:</input>
                                <input class="form-control" type="text" name="coinName" id="coinName" disabled required <% if(useCoin) { %>value="<%= coinName %>" <% } %>>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" for="privacy">Visualização</label>
                        <div>
                            <br>
                            <select class="form-control" name="privacy" id="privacy">
                                <% for(var index = 0; index < privacyList.length; index++) { %>
                                <option value="<%= privacyList[index] %>" <% if(privacyList[index] == privacy) { %>selected<% } %>>
                                    <%= privacyList[index] %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Regras da Comunidade</label>
                    <textarea class="form-control" name="rules" id="description"
                              rows="5"><%= rules %></textarea>
                </div>

                <div class="col-sm-offset-1 col-sm-9">
                    <div class="form-group text-center" id="buttons-panel">
                        <button type="button" class="btn btn-default" onclick="location.href = '/community/<%= communityName %>'">Voltar</button>
                        <button type="submit" class="btn btn-success">Editar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>