<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main_page.css">
</head>
<body>
<% include templates/navbar.ejs %>
<% include templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div id="side-panel">
                <h3 id="side-title">Utilizador</h3>
                <h5><b style="margin-right: 15px;">Username:</b><%= user %></h5>
                <br>
                <h3 id="side-title">Estatísticas</h3>
                <h5><b style="margin-right: 15px;">Mensagens Enviadas:</b><%= sentArray.length %></h5>
                <h5><b style="margin-right: 15px;">Mensagens Recebidas:</b><%= receivedArray.length %></h5>
                <h5><b style="margin-right: 15px;">Ofertas criadas:</b> <%= offerArr.length %></h5>
                <h5><b style="margin-right: 15px;">Comunidades:</b> <%= communityArr.length %></h5>
            </div>
        </div>

        <div class="col-md-8">
            <h3 id="side-title">Comunidades</h3>
            <% for(var index = 0; index < communityArr.length; index++) { %>
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="lead" href="/community/<%= communityArr[index].name %>"><%= communityArr[index].name %></a>
                        <p><%= communityArr[index].description %></p>
                        <h6 class="offer-footer">
                            Comunidade <%= communityArr[index].privacy %>,
                            <% if(communityArr[index].useCoin) { %>
                            com uso de moeda de troca - <b style="font-size: 16px;"><%= communityArr[index].coinName %></b>
                            <% } else { %>
                            sem uso de moeda de troca
                            <% } %>
                        </h6>
                    </div>
                </div>
            </div>
            <% } %>

            <h3 id="side-title">Minhas Ofertas</h3>
            <% for(var index = 0; index < offerArr.length; index++) { %>
            <div class="well">
                <div class="offer-head">
                    <h4 class="offer-title"><a href="/community/<%= offerArr[index].communityName %>"><%= offerArr[index].communityName %></a></h4>
                    <span>Criado por: <a href="/profile/<%= offerArr[index].username %>"><%= offerArr[index].username %></a></span>
                </div>

                <div class="row offer-content">
                    <div class="col-sm-4">
                        <img class="img-responsive visible-md visible-lg" src="<% if(offerArr[index].imageDir != null && offerArr[index].imageDir != ''){ %>/images/offers/<%= offerArr[index].imageDir %><% }else{ %>http://placehold.it/420x320<% } %>"/>
                    </div>

                    <div class="col-sm-8">
                        <p class="lead">
                            <a href="/view_offer/<%= offerArr[index]._id %>"><%= offerArr[index].title %></a>
                        </p>
                        <%= offerArr[index].description %>
                    </div>
                </div>

                <div class="row offer-footer">
                    <a class="btn btn-default pull-right" href="/delete_offer/<%= offerArr[index]._id %>">Eliminar</a>
                    <a class="btn btn-default pull-right" href="/view_offer/<%= offerArr[index]._id %>">Ver detalhes</a>
                    <h6 class="pull-right" style="margin-right: 20px;">Preço: <%= offerArr[index].price %><span class="glyphicon glyphicon-gift" style="margin-left: 5px;"></span></h6>
                </div>
            </div>
            <% } %>
        </div>

        <div class="col-md-2 text-center">
            <h3 id="side-title">Atalhos</h3>
            <a class="btn btn-primary btn-block" href="/profile/<%= user %>">Meu Perfil</a>
            <a class="btn btn-primary btn-block" href="/message/inbox">Minhas Mensagens</a>
            <a class="btn btn-primary btn-block" href="/create_community">Criar Comunidade</a>
            <a class="btn btn-primary btn-block" href="/my_communities">Minhas Comunidades</a>
            <a class="btn btn-default btn-block btn-sm" href="/faq">FAQ</a>
        </div>
    </div>
</div>
</body>
</html>