<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main_page.css">
</head>
<body>
<% include templates/navbar.ejs %>
<% include templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div id="side-panel">
                <h3 id="side-title">Utilizador</h3>
                <h5><b style="margin-right: 15px;">Username:</b><%= user %></h5>
                <br>
                <h3 id="side-title">Estatísticas</h3>
                <h5><b style="margin-right: 15px;">Mensagens Enviadas:</b><%= sentArray.length %></h5>
                <h5><b style="margin-right: 15px;">Mensagens Recebidas:</b><%= receivedArray.length %></h5>
                <h5><b style="margin-right: 15px;">Ofertas criadas:</b> <%= offerArr.length %></h5>
                <h5><b style="margin-right: 15px;">Comunidades:</b> <%= communityArr.length %></h5>
            </div>
        </div>

        <div class="col-md-8">
            <h3 id="side-title">Comunidades Inscritas</h3>
            <% if(communityArr.length == 0) { %>
             <h5> <b style="margin-right: 15px;">Atualmente, não estás a participar em nenhuma comunidade.</b></h5>
            <% } else {
                for(var index = 0; index < communityArr.length; index++) { %>
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="lead" href="/community/<%= communityArr[index].name %>"><%= communityArr[index].name %></a>
                        <p><%= communityArr[index].description %></p>
                        <h6 class="offer-footer">
                            Comunidade <%= communityArr[index].privacy %>,
                            <% if(communityArr[index].useCoin) { %>
                            com uso de moeda de troca - <b style="font-size: 16px;"><%= communityArr[index].coinName %></b>
                            <% } else { %>
                            sem uso de moeda de troca
                            <% } %>
                        </h6>
                    </div>
                </div>
            </div>
            <% }} %>

            <h3 id="side-title">Ofertas das Comunidades Inscritas</h3>
            <% if(offerArr.length == 0) { %>
            <h5> <b style="margin-right: 15px;">Ainda não ofereceste nada. De que estás à espera?</b></h5>
            <% } else {for(var index = 0; index < offerArr.length; index++) { %>
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <a style="pointer-events: none; cursor: default;" href="" class="lead"><%= offerArr[index].title %></a>
                        <p>Criado por <a href="/profile/<%= offerArr[index].username %>"><%= offerArr[index].username %></a></p>
                    </div>
                </div>

                <div class="row" style="border-top: 1px solid #d6d6d6; padding-top: 15px;">
                    <div class="col-sm-4 text-center" style="border-right: 1px solid #d6d6d6;">
                        <img class="img-responsive img-thumbnail" src="<% if(offerArr[index].imageDir != null && offerArr[index].imageDir != ''){ %>/images/offers/<%= offerArr[index].imageDir %><% }else{ %>http://placehold.it/420x320<% } %>"/>
                        <p style="margin-top: 5px;"><%= ("0" + (new Date(offerArr[index].date)).getDate()).slice(-2) + "/" + ("0" + ((new Date(offerArr[index].date)).getMonth() + 1)).slice(-2) + "/" + (new Date(offerArr[index].date)).getFullYear() + " - " + ("0" + (new Date(offerArr[index].date)).getHours()).slice(-2) + ":" + ("0" + (new Date(offerArr[index].date)).getMinutes()).slice(-2) %></p>
                        <form role="form">
                            <button type="submit" class="btn btn-success disabled" style="width: 8em; margin-top: 15px;" disabled>Aceitar</button>
                        </form>
                    </div>
                    <div class="col-sm-8">
                        <p><%= offerArr[index].description %></p>
                    </div>
                </div>
            </div>
            <% }} %>
        </div>

        <div class="col-md-2 text-center">
            <h3 id="side-title">Atalhos</h3>
            <a class="btn btn-primary btn-block" href="/profile/<%= user %>">Meu Perfil</a>
            <a class="btn btn-primary btn-block" href="/message/inbox">Minhas Mensagens</a>
            <a class="btn btn-primary btn-block" href="/my_communities">Gerir Comunidades</a>
            <a class="btn btn-primary btn-block" href="/create_community">Criar Comunidade</a>
            <a class="btn btn-default btn-block btn-sm" href="/faq">FAQ</a>
        </div>
    </div>
</div>
</body>
</html>