<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main_page.css">
</head>
<body>
<% include templates/navbar.ejs %>
<% include templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div id="side-panel" class="text-center">
                <h3 id="side-title">Comunidades</h3>
                <a class="btn btn-primary" href="/create_community">Criar comunidade</a>
            </div>

            <ul class="list-group">
                <% for(var index = 0; index < communityArr.length; index++) { %>
                <li class="list-group-item text-center">
                    <a href="/community/<%= communityArr[index].name %>"><%= communityArr[index].name %></a>
                </li>
                <% } %>
            </ul>
        </div>

        <div class="col-md-10">
            <% for(var index = 0; index < offerArr.length; index++) { %>
            <div class="well">
                <div class="offer-head">
                    <h4 class="offer-title"><a href="/community/<%= offerArr[index].communityName %>"><%= offerArr[index].communityName %></a></h4>
                    <span>Criado por: <a href="/profile/<%= offerArr[index].username %>"><%= offerArr[index].username %></a></span>
                </div>

                <div class="row offer-content">
                    <div class="col-sm-4">
                        <img class="img-responsive visible-md visible-lg" src="<% if(offerArr[index].imageDir != null && offerArr[index].imageDir != ''){ %>/images/offers/<%= offerArr[index].imageDir %><% }else{ %>http://placehold.it/420x320<% } %>"/>
                    </div>

                    <div class="col-sm-8">
                        <p class="lead">
                            <a href="/view_offer/<%= offerArr[index]._id %>"><%= offerArr[index].title %></a>
                        </p>
                        <%= offerArr[index].description %>
                    </div>
                </div>

                <div class="row offer-footer">
                    <a class="btn btn-default pull-right" href="/view_offer/<%= offerArr[index]._id %>">Ver detalhes</a>
                    <h6 class="pull-right" style="margin-right: 20px;">Preço: <%= offerArr[index].price %><span class="glyphicon glyphicon-gift" style="margin-left: 5px;"></span></h6>
                </div>
            </div>
            <% } %>

            <ul class="pagination">
                <% for(var pageNmr = 1; pageNmr <= nPages; pageNmr++){ %>
                <li <% if(pageNmr==thisPage){ %> class="active" <% } %> ><a href="/?page=<%= pageNmr %>"><%= pageNmr %></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
</body>
</html>