<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/search_results.css">
</head>
<body>
<% include templates/navbar.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h2>Resultados da procura: <%= term %></h2>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#community">Comunidades</a></li>
                <li><a data-toggle="tab" href="#users">Utilizadores</a></li>
            </ul>
        </div>

        <div class="col-sm-2 pull-right">
            <button style="margin-top: 20px; width: 8em;" type="button" class="btn btn-default" onclick="location.href = '/'">Voltar</button>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="community">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sede</th>
                    <th>Membros</th>
                    <th>Moeda</th>
                    <th>Visualização</th>
                </tr>
                </thead>
                <tbody>
                <% for(var index = 0; index < communities.length; index++){ %>
                <tr>
                    <td><a href="/community/<%= communities[index].name  %>"><%= communities[index].name %></a></td>
                    <td><%= communities[index].office %></td>
                    <td><%= communities[index].members.length %></td>
                    <% if(communities[index].useCoin) { %>
                    <td><%= communities[index].coinName %></td>
                    <% } else { %>
                    <td>-</td>
                    <% } %>
                    <td><%= communities[index].privacy %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="users">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nome de Utilizador</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telemóvel</th>
                </tr>
                </thead>
                <tbody>
                <% for(var index = 0; index < users.length; index++){ %>
                <tr>
                    <td><a href="/profile/<%= users[index].username %>"><%= users[index].username %></a></td>
                    <% if(users[index].name) { %>
                    <td><%= users[index].name %></td>
                    <% } else { %>
                    <td>-</td>
                    <% } %>
                    <td><%= users[index].email %></td>
                    <% if(users[index].phone) { %>
                    <td><%= users[index].phone %></td>
                    <% } else { %>
                    <td>-</td>
                    <% } %>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>