<style type="text/css">
    div {border: solid black 1px;}
</style>

<h1><%= title %></h1>

<div><%= typeof content1 != 'undefined' ? content1 : "implement a content1 element on the render() function to display it here" %></div>
<br>
<div><%= typeof content2 != 'undefined' ? content2 : "implement a content2 element on the render() function to display it here" %></div>
<br>
<div><%= typeof content3 != 'undefined' ? content3 : "implement a content3 element on the render() function to display it here" %></div>
<br>
<div><%= typeof content4 != 'undefined' ? content4 : "implement a content4 element on the render() function to display it here" %></div>