<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include ../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/messaging/message.css">
</head>
<body>
<% include ../templates/navbar.ejs %>
<% include ../templates/alert_messages.ejs %>

<div class="container well">
    <div class="row">
        <div class="col-sm-10">
            <h3>
                Mensagem privada de
                <% if(messageReceiver) { %>
                <a href="/profile/<%= sender %>" id=""><%= sender %></a>
                <% } else { %>
                <a href="/profile/<%= receiver %>" id=""><%= receiver %></a>
                <% } %>
            </h3>
        </div>

        <div class="pull-right col-sm-2">
            <h3><a class="btn btn-default btn-block btn-sm" href="/message/inbox">Voltar</a></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <h4 style="margin-top: 0px;">Assunto: <span style="margin-left: 10px; font-size: 17px;"><%= message_subject %></span></h4>
        </div>

        <div class="pull-right col-sm-2">
            <span style="margin-left: 10px; font-size: 17px;">Data: <%= ("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth() + 1)).slice(-2) + "/" + date.getFullYear() %></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-control" id="editor_redirect" contenteditable="true">
                <blockquote>
                    <%- message_content%>
                </blockquote></div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;" id="buttonsPanel">
        <div class="col-sm-12 text-center">
            <%if(!deleted){%>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">Remover</button>
            <%}%>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#reply_modal" >Responder</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#redirect_modal" >Reencaminhar</button>
        </div>
    </div>
</div>

<div id="delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4><span style="margin-right: 15px;" class="glyphicon glyphicon-trash"></span>Remover Mensagem?</h4>
            </div>

            <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;" id="buttonsPanel">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="trashCanButton(this)" delete_id="<%= message_id %>" >Remover</button>
            </div>
        </div>
    </div>
</div>

<!-- -->
<div id="reply_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form id="reply_form" action="/message/new" method="post" class="form-horizontal" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><span style="margin-right: 15px;" class="glyphicon glyphicon-envelope"></span>Responder a Mensagem</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="reply_recipient">Para</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="reply_recipient" value="<%= sender %>" disabled="true">
                            <input  name="receiver" type="text" value="<%= sender %>" hidden>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="reply_subject">Assunto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="reply_subject" value="<%= message_subject %>" disabled="true">
                            <input  name="subject" type="text" value="Re: <%= message_subject %>" hidden>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="reply_type">Tipo</label>
                        <div class="col-sm-10">
                            <select id="reply_type" class="form-control" disabled="true">
                                <% if(message_type=="user") { %>
                                <option value="Conversation" selected>Conversa</option>
                                <% } else if (message_type=="leaf"){ %>
                                <option value="Offer" selected>Oferta</option>
                                <% } else { %>
                                <option value="System Notification" selected>Oferta</option>
                                <% } %>
                            </select>
                            <% if(message_type=="user") { %>
                            <input name="type" value="conversation" hidden>
                            <% } else if (message_type=="leaf"){ %>
                            <input name="type" value="offer" hidden>
                            <% } else { %>
                            <input name="type" value="other" hidden>
                            <% } %>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="compose_subject">Mensagem</label>
                        <div class="col-sm-10">
                            <div class="btn-toolbar" id="toolbar_reply" data-role="editor-toolbar" data-target="#editor">
                                <div class="btn-group" id="editor-buttons_reply">
                                    <a class="btn" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><strong>B</strong></a>
                                    <a class="btn" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><em>I</em></a>
                                    <a class="btn" data-edit="strikethrough" title="" data-original-title="Strikethrough"><s>S</s></a>
                                    <a class="btn" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><u>U</u></a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">Desfazer</a>
                                    <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">Refazer</a>
                                </div>
                            </div>
                            <div class="">
                                <div id="editor" contenteditable="true"></div>
                            </div>
                            <input id="reply_content_input" name="content" value="" hidden>
                        </div>
                    </div>

                </div>
                <div class="text-center" style="margin-bottom: 20px;" id="buttonsPanel">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="sendReply()">Responder</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- -->
<div id="redirect_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="redirect_form" action="/message/new" method="post" class="form-horizontal" role="form">
                <div class="modal-header">
                    <h4><span style="margin-right: 15px;" class="glyphicon glyphicon-envelope"></span>Reencaminhar Mensagem</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="redirect_recipient">Para</label>
                            <div class="col-sm-10">
                                <input name="receiver" type="text" class="form-control" id="redirect_recipient" placeholder="Nome do Utilizador">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="redirect_subject">Assunto</label>
                            <div class="col-sm-10">
                                <input name="subject"  type="text" class="form-control" id="redirect_subject" placeholder="Assunto da Mensagem">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="redirect_type">Tipo</label>
                            <div class="col-sm-10">
                                <select class="form-control" disabled="true">
                                    <option value="Conversation" selected>Conversa</option>
                                    <input name="type" value="conversation" hidden>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="redirect_subject">Mensagem</label>
                            <div class="col-sm-10">
                                <div class="btn-toolbar" id="toolbar_reply" data-role="editor-toolbar" data-target="#editor_redirect">
                                    <div class="btn-group" id="editor-buttons">
                                        <a class="btn" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><strong>B</strong></a>
                                        <a class="btn" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><em>I</em></a>
                                        <a class="btn" data-edit="strikethrough" title="" data-original-title="Strikethrough"><s>S</s></a>
                                        <a class="btn" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><u>U</u></a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">Desfazer</a>
                                        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">Refazer</a>
                                    </div>
                                </div>
                                <div class="">
                                    <div id="editor_redirect" contenteditable="true">
                                        <blockquote>
                                            De: <%= sender %>
                                            <br>
                                            <%- message_content%>
                                        </blockquote><br></div>
                                </div>
                                <input id="redirect_content_input" name="content" value="" hidden>
                            </div>
                        </div>
                </div>
                <div class="text-center" style="margin-bottom: 20px;" id="buttonsPanel">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="sendRedirect()">Reencaminhar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Text-area editor with buttons -->
<script type="text/javascript" src="https://rawgithub.com/mindmup/bootstrap-wysiwyg/master/bootstrap-wysiwyg.js"></script>
<script src="https://rawgithub.com/mindmup/bootstrap-wysiwyg/master/external/jquery.hotkeys.js"></script>

<script>
    $(document).ready(function(){
        //Tooltip function initializer
        $('[data-toggle="tooltip"]').tooltip();

        //Textarea Initializer
        $("#editor").wysiwyg();
        $("#editor_redirect").wysiwyg();
        $('#launch').click();
    });

    function sendReply(){
        $('#reply_content_input').attr('value', $('#editor').html());
        $('#reply_form').submit();
    }
    function sendRedirect(){
        $('#redirect_content_input').attr('value', $('#editor_redirect').html());
        $('#redirect_form').submit();
    }
    function trashCanButton(element){
        window.location.href = "/message/delete/"+$(element).attr('delete_id');
    }
</script>

</body>
</html>