<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include ./../templates/header.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/profile/edit.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8">
            <h1>Editar Perfil</h1>
            <br>

            <form role="form" action="#" method="post">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="name">Nome:</label>
                            <input type="text" name="name" id="name" class="form-control" value="<%= name %>"
                                   placeholder="Nome Completo" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="phone">Contato:</label>
                            <input type="text" id="phone" name="phone" class="form-control" value="<%= phone %>"
                                   placeholder="Contacto telefónico" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="gender">Sexo:</label>
                            <select class="form-control" id="gender" name="gender">
                                <% for(var index = 0; index < genderList; index++) { %>
                                <% if(genderList[index] == gender) { %>
                                <option selected>genderList[index]</option>
                                <% } else { %>
                                <option>genderList[index]</option>
                                <% }} %>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="sel_sex">Sexo:</label>
                        <select class="form-control" id="sel_sex">
                            <option
                                    <% if(userdata.gender == "Outro"){ %>
                                    selected="selected"
                                    <% } %>
                            >Outro
                            </option>
                            <option
                                    <% if(userdata.gender == "Masculino"){ %>
                                    selected="selected"
                                    <% } %>
                            >Masculino
                            </option>
                            <option
                                    <% if(userdata.gender == "Feminino"){ %>
                                    selected="selected"
                                    <% } %>
                            >Feminino
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" value="" placeholder="Password"
                               required>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Repita Password</label>
                        <input type="password" name="password2" class="form-control" value="" placeholder="Password"
                               required>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Endereço de Email</label>
                        <input type="" name="email" class="form-control" value="<%= userdata.email %>"
                               placeholder="Endereço de Email" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Repita o Endereço de Email</label>
                        <input type="" name="email2" class="form-control" value="<%= userdata.email %>"
                               placeholder="Endereço de Email" required>
                    </div>

                    <div class="form-group" id="buttons-panel">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-default">Guardar</button>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-default"
                                    onclick="location.href = '/profile/<%= username %>'">Voltar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-2"></div>
    </div>
</div>

</body>
</html>
