<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include ./../templates/header.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/profile/view.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <h1>Perfil de Utilizador</h1>
            <div class="edit">
                <% if(isOwnProfile) { %>
                <a href="/profile/edit/<%= username %>" class="label label-primary label-as-badge editbadge">Editar</a>
                <% } %>
            </div>

            <div class="form-horizontal">
                <label class="control-label col-sm-2" for="username">Username:</label>
                <h1 id="username" class="lead"><%= username %></h1>
            </div>

            <div class="form-horizontal">
                <label class="control-label col-sm-2" for="password">Password:</label>
                <h1 id="password" class="lead">
                    <% for(var index = 0; index < password.length; index++) { %>
                    <span>-</span>
                    <% } %>
                </h1>
            </div>

            <div class="form-horizontal">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <% if(name == "") { %>
                <h1 id="name" class="lead notDefined">N達o definido</h1>
                <% }else{ %>
                <h1 id="name" class="lead"><%= name %></h1>
                <% } %>
            </div>

            <div class="form-horizontal">
                <label class="control-label col-sm-2" for="gender">Sexo:</label>
                <% if(phone == "") { %>
                <h1 id="gender" class="lead notDefined">N達o definido</h1>
                <% }else{ %>
                <h1 id="gender" class="lead"><%= gender %></h1>
                <% } %>
            </div>

            <div class="form-horizontal">
                <label class="control-label col-sm-2" for="email">E-mail:</label>
                <% if(phone == "") { %>
                <h1 id="email" class="lead notDefined">N達o definido</h1>
                <% }else{ %>
                <h1 id="email" class="lead"><%= email %></h1>
                <% } %>
            </div>

            <div class="form-horizontal">
                <label class="control-label col-sm-2" for="phone">Contato:</label>
                <% if(phone == "") { %>
                <h1 id="phone" class="lead notDefined">N達o definido</h1>
                <% }else{ %>
                <h1 id="phone" class="lead"><%= phone %></h1>
                <% } %>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
</div>
</body>
</html>