<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- BootSrap -->
    <% include ./../templates/header.ejs %>

    <link rel="stylesheet" type="text/css" href="/stylesheets/profile/view.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>

<div class="col-md-0 center-align datadiv">
    <h3 class="dark-grey">Perfil <% if(userdata.username == user){ %><a href="profile/edit" class="label label-primary label-as-badge editbadge">Editar</a> <% } %></h3>

    <div class="form-group col-lg-12">
        <label>Username</label>
        <h5><%= userdata.username %></h5>
    </div>

    <div class="form-group col-lg-12">
        <label>Nome</label>
        <% if(userdata.name == ""){ %>
        <h5 class="notDefined">Não definido</h5>
        <% } else{ %>
        <h5><%= userdata.name %></h5>
        <% } %>
    </div>

    <div class="form-group col-lg-12">
        <label>Contacto</label>
        <% if(userdata.phone == ""){ %>
        <h5 class="notDefined">Não definido</h5>
        <% } else{ %>
        <h5><%= userdata.phone %></h5>
        <% } %>
    </div>

    <div class="form-group col-lg-12">
        <label>Data de nascimento</label>
        <% if(userdata.birthdate == ""){ %>
        <h5 class="notDefined">Não definido</h5>
        <% } else{ %>
        <h5><%= userdata.birthdate %></h5>
        <% } %>
    </div>

    <div class="form-group col-lg-12">
        <label>Sexo:</label>
        <% if(userdata.gender == ""){ %>
        <h5 class="notDefined">Não definido</h5>
        <% } else{ %>
        <h5><%= userdata.gender %></h5>
        <% } %>
    </div>

    <% if(userdata.username == user){ %>
    <div class="form-group col-lg-12">
        <label>Endereço de Email</label>
        <h5><%= userdata.email %></h5>
    </div>

    <div class="form-group col-lg-12">
        <label>Password</label>
        <a href="profile/edit" class="btn btn-link">Editar</a>
    </div>
    <% } %>

</div>


</body>
</html>