<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include ./../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/community/create_community.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>
<% include ./../templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h1>Criar Comunidade</h1>

            <form role="form" action="/create_community/create" method="post">
                <div class="form-group">
                    <label class="control-label" for="communityName">Nome</label>
                    <input type="text" name="communityName" class="form-control" id="communityName">
                </div>

                <div class="form-group">
                    <label class="control-label" for="headQuarter">Sede</label>
                    <input type="text" name="headQuarter" class="form-control" id="headQuarter">
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Descrição</label>
                    <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label" for="category">Categoria</label>
                            <select class="form-control" name="category" id="category">
                                <% for(var index = 0; index < categoryList.length; index++) { %>
                                <option value="<%= categoryList[index] %>">
                                    <%= categoryList[index] %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label" for="privacy">Visualização</label>
                        <select class="form-control" name="privacy" id="privacy">
                            <% for(var index = 0; index < privacyList.length; index++) { %>
                            <option value="<%= privacyList[index] %>">
                                <%= privacyList[index] %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="col-sm-offset-1 col-sm-9">
                    <div class="form-group text-center" id="buttons-panel">
                        <button type="submit" class="btn btn-default">Criar</button>
                        <button type="button" class="btn btn-default" onclick="location.href = '/'">Voltar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
