<!DOCTYPE html>
<html>
<head>
    <title>Local Exchange - <%= communityName %></title>

    <% include ./../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/community/edit_community.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>

<div class="container-fluid">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
        <h1>Editar Comunidade - <%= communityName %></h1>
        <br>

        <form role="form" action="/edit_community/<%= communityName %>/edit" method="post">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="communityName">Nome:</label>
                    <div class="col-sm-10"><input type="text" class="form-control" id="communityName"
                                                  placeholder="<%= communityName %>" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="headQuarter">Sede:</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="headQuarter" id="headQuarter" value="<%= headQuartes %>">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Descrição:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="description" id="description" rows="3"><%= description %></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="selcategory">Categoria:</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="selcategory" id="selcategory">
                            <% for(var index = 0; index < categoryList.length; index++) { %>
                            <% if(categoryList[index] == category) { %>
                            <option value="<%= categoryList[index] %>" selected>
                                <%= categoryList[index] %>
                            </option>
                            <% } else { %>
                            <option value="<%= categoryList[index] %>">
                                <%= categoryList[index] %>
                            </option>
                            <% }} %>
                        </select>
                    </div>

                    <label class="control-label col-sm-2" for="selprivacy">Visualização:</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="selprivacy" id="selprivacy">
                            <% for(var index = 0; index < privacyList.length; index++) { %>
                            <% if(privacyList[index] == privacy) { %>
                            <option value="<%= privacyList[index] %>" selected>
                                <%= privacyList[index] %>
                            </option>
                            <% } else { %>
                            <option value="<%= privacyList[index] %>">
                                <%= privacyList[index] %>
                            </option>
                            <% }} %>
                        </select>
                    </div>
                </div>

                <div class="form-group" id="buttons-panel">
                    <div class="col-sm-5"></div>
                    <div id="save-button" class="col-sm-1">
                        <button type="submit" class="btn btn-default">Guardar</button>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-default"
                                onclick="location.href = '/community/<%= communityName %>'">Voltar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-2"></div>
</div>

</body>
</html>