<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <% include ../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/community/homepage.css">
</head>
<body>
<% include ../templates/navbar.ejs %>

<div class="container"id="main_body">
    <h1>
        <%= communityName %>
    </h1>
    <hr>
    <div class="row">
        <!-- Right-Top div -->
        <div class="col-md-4 col-md-push-8">
            <div id="Community_Info">
                Community Info
            </div>
            <div id="User_Options">
                User Options
            </div>
        </div>
        <!-- Left-Bot div -->
        <div class="col-md-8 col-md-pull-4">
            <div id="Pinned_Content">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <span class="glyphicon glyphicon-pushpin aria-hidden="true""></span> <%= pin.title %></h3>
                    </div>
                    <div class="panel-body">
                        <p id="pin_content" class="pin_hidden_text"> <%= pin.description %></p>
                        <small><a href="#" id="readMore_pin">Show More</a></small>
                    </div>
                </div>
            </div>
            <div id="Offer_List">
                <% for(var i = 0; i < recommendations.length; i++){ %>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object media_image" src="<%= recommendations[i].image %>" alt="<%= recommendations[i].title + "'s Offer Image"%>">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="#">
                            <h4 class="media-heading..."> <%= recommendations[i].title %></h4>
                        </a>
                        <p><%= recommendations[i].user %></p>
                        <p>Price: <strong><%= recommendations[i].price %></strong></p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){

        //read more button in pin area
        $('#readMore_pin').click(function(){
            $('#pin_content').toggleClass('pin_hidden_text');
            if($(this).text()=='Show Less') $(this).text('Show More');
            else  $(this).text('Show Less');
        });
    });
</script>


</body>
</html>