<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include ./../templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/offer/create_offer.css">
</head>
<body>
<% include ./../templates/navbar.ejs %>
<% include ./../templates/alert_messages.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 well">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Criar Oferta em <i><%= communityName %></i></h2>
                </div>
            </div>

            <form role="form" action="/create_offer/create/<%= communityName %>" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label" for="offerTitle">Titulo</label>
                    <input type="text" name="offerTitle" class="form-control" maxlength="50" id="offerTitle" required>
                </div>

                <div class="form-group">
                    <label class="control-label" for="offerDescription">Descrição</label>
                    <textarea class="form-control" name="offerDescription" maxlength="350" id="offerDescription" rows="7"></textarea>
                </div>

                <div class="row">
                    <div <% if(useCoin) { %>class="col-md-6"<% } else { %>class="col-md-12"<% } %>>
                        <div class="form-group">
                            <label class="control-label" for="offer_image">Imagem</label>
                            <input type="file" name="offer_image" class="form-control" id="offer_image">
                        </div>
                    </div>
                    <% if(useCoin) { %>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="offerPrice">Preço - <%= coinName %></label>
                            <input type="text" name="offerPrice" class="form-control" onkeypress="return allowNumbersOnly(event)" maxlength="6" id="offerPrice" required>
                        </div>
                    </div>
                    <% } %>
                </div>

                <div class="col-sm-offset-1 col-sm-9">
                    <div class="form-group text-center" id="buttons-panel">
                        <button type="button" class="btn btn-default" onclick="location.href = '/community/<%= communityName %>'">Voltar</button>
                        <button type="submit" class="btn btn-success">Criar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function allowNumbersOnly(e) {
        var k = e.keyCode;
        //código ASCII dos caracteres permitidos
        return (k >= 48 && k <= 57);
    }
</script>
</body>
</html>
