<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include templates/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main_page.css">
</head>
<body>
<% include templates/navbar.ejs %>
<% include templates/alert_messages.ejs %>

<div class="container">
    <div id="side-container" class="col-md-3">
        <ul class="sidebar-nav">
            <li class="sidebar-title">
                Comunidades
            </li>
            <li class="sidebar-subtitle">
                <a href="/create_community">Criar comunidade</a>
            </li>
            <% for(var index = 0; index < communityArr.length; index++) { %>
            <li>
                <a href="/community/<%= communityArr[index].name %>"><%= communityArr[index].name %></a>
            </li>
            <% } %>
        </ul>
    </div>

    <div class="col-md-9">
        <% for(var index = 0; index < offerArr.length; index++) { %>
        <div class="row offer-area">
            <div class="offer-title">
                <a href="#"><%= offerArr[index].communityName %></a> : <a href="#"><%= offerArr[index].offerName %></a>
            </div>

            <div class="offer-content">
                <div class="row">
                    <div class="visible-lg col-sm-3">
                        <img width="220" height="220" src="http://placehold.it/420x320" />
                    </div>

                    <div class="col-sm-9">
                        <p class="lead">
                            <%= offerArr[index].offerDescription %>
                        </p>

                        <div class="row">
                            <div class="col-sm-2 pull-right">
                                <a href="#" class="btn btn-default offer-button" role="button">Abrir oferta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
</body>
</html>